@model TeamI.ViewModel.InspectionIndexViewModel
@{
    ViewBag.Title = "Welcome!";
}
@Styles.Render("~/style/CircleStats")
@Styles.Render("~/style/SiteTour")



@{
    if (1 == 2)
    {
        <div class="container">
            <style>
                .carouselcolour {
                    background-color: white;
                }
            </style>
            <div>
                <div id="ncImgCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#ncImgCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#ncImgCarousel" data-slide-to="1"></li>
                        <li data-target="#ncImgCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active carouselcolour">
                            <img src="~/Images/NiagaraCollegeMediaTrades.png" alt="ncMttLogo" />
                        </div>
                        <div class="item carouselcolour">
                            <img src="~/Images/SafetyHeaderGeneric1.png" alt="Generic Safety Photo" />
                        </div>
                        <div class="item carouselcolour">
                            <img src="~/Images/PPE.png" alt="Personal Protective Equipment" />
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#ncImgCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#ncImgCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    }
    if (1 == 1)
    {
        <div>

            <div class="row" id="dataCircles">

                <div class="col-xs-4">
                    <div id="circle1" data-animation="1" data-animationStep="5" data-percent="@Model.inspection.Where(i => i.complete == 0).Count()" data-replacePercentageByText="@Model.inspection.Where(i => i.complete == 0).Count()"></div>
                </div>
                <div class="col-xs-4">
                    <div id="circle2" data-animation="1" data-animationStep="5" data-percent="@Model.inspection.Where(i => i.dueDate < DateTime.Now).Count()"  data-replacePercentageByText="@Model.inspection.Where(i => i.dueDate < DateTime.Now).Count()"></div>
                </div>
                <div class="col-xs-4">
                    @{ 
                        decimal pass = Model.inspection.Where(i => i.status != false).Count();
                        decimal all = Model.inspection.Count();
                        decimal perc = pass / all;
                    }
                    <div id="circle3" data-animation="1" data-animationStep="5" data-percent="@perc"></div>
                </div>


            </div>

            <div style="margin-bottom:15px;">
                <div class="row">
                    <div class="col-sm-4" style="padding-top:15px; text-align:center;">
                        <a href="@Url.Action("Create", "INSPECTIONs")" class="btn-lg btn-primary">
                            Start Inspection
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-sm-4" style="padding-top:15px; text-align:center;">
                        <a href="@Url.Action("Index", "INSPECTIONs")" class="btn-lg btn-primary">
                            View Inspections
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-sm-4" style="padding-top:15px; text-align:center;">
                        <a href="@Url.Action("CreateInsDet", "INSPECTIONs")" class="btn-lg btn-primary">
                            Report An Issue
                            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                        </a>
                    </div>

                </div>
            </div>

            @{ @*if there are overdue inspections*@
            if (ViewBag.Overdue >= 1)
            {
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-xs-12">
                        <div class="section">

                            <h2 style="color:orange;">Overdue Inspections</h2>

                            <table class="table">
                                <tr>
                                    <th>
                                        Due Date
                                    </th>
                                    <th>
                                        Scheduled Date
                                    </th>
                                    <th>
                                        Building
                                    </th>
                                    <th>
                                        Room
                                    </th>
                                    <th>
                                        Details
                                    </th>


                                </tr>
                                @foreach (var item in Model.inspection)
                                {
                                    if (Convert.ToDateTime(item.dueDate).ToUniversalTime() < DateTime.Now.ToUniversalTime() && item.dueDate != null)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dueDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.scheduledDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LAB.building)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LAB.room)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Details", "Details", "INSPECTIONs", new { id = item.ID }, null)
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
            }


            <div class="row">
                <div class="col-xs-6">
                    <div class="section">
                        <h2>Pending Inspections</h2>
                        <div id="table-wrapper">
                            <div id="table-scroll">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Due date
                                        </th>
                                        <th>
                                            Building
                                        </th>
                                        <th>
                                            Room
                                        </th>
                                        <th>
                                            Details
                                        </th>

                                    </tr>
                                    @foreach (var item in Model.inspection.Where(i => i.complete == 0))
                                    {
                                        var color = "";
                                        if (Convert.ToDateTime(item.dueDate).ToUniversalTime() < DateTime.Now.ToUniversalTime() && item.dueDate != null)
                                        { color = "orange"; } 
                                            <tr style="color: @color">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.dueDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LAB.building)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LAB.room)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", "INSPECTIONs", new { id = item.ID }, null) 
                                                </td>

                                            </tr>
                                        
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" style="padding-left: 0px;">
                    <div class="section">
                        <h2>Corrective Action Required</h2>
                        <div id="Corrective">
                            <div id="table-wrapper">
                                <div id="table-scroll">
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Problem Found
                                            </th>
                                            <th>
                                                Room
                                            </th>
                                           
                                            <th>
                                                Details
                                            </th>
                                        </tr>
                                        @foreach (var item in Model.hazardsobserved.Where(i => i.Status == false))
                                        {
                                           
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.problemFound)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.INSPECTIONDETAILS.INSPECTION.LAB.room)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", "HAZARDOBSERVEDs", new { id = item.ID }, null)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
                }
                else
                {
                }

}

          
@section Scripts{
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/CircleStats")
    @Scripts.Render("~/bundles/SiteTour")
}
