@*@model TeamI.Models.INSPECTION*@
@model TeamI.ViewModel.FullInspection
@{
    ViewBag.Title = "Create Inspection";
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()*@


    <style>
        .tableLable {
            vertical-align: middle;
            width: 80px;
            float: left;
            display: table-cell;
        }

        .tableData {
            width: 200px;
            float: left;
            display: table-cell;
        }
    </style>


    <div class="container">

        <h4>New Inspection</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="row">
            <div class="col-md-8">

                <div class="tableLable">
                    @Html.LabelFor(model => model.labID, "Lab:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="tableData">
                    @Html.DropDownList("labID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.labID, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-4">

                <div class="tableLable">
                    @Html.LabelFor(model => model.dateIns, "Date:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="tableData">
                    @Html.EditorFor(model => model.dateIns, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dateIns, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="tableLable">
                    @Html.LabelFor(model => model.userIDIns, "Inspector:", htmlAttributes: new { @class = "" })
                </div>
                <div class="tableData">
                    @Html.DropDownList("userIDIns", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.userIDIns, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="tableLable">
                    @Html.LabelFor(model => model.status, "Status:", htmlAttributes: new { @class = "" })
                </div>
                <div class="tableData">
                    @Html.EditorFor(model => model.status)
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>*@


        @*commented code*@
        @*<div class="form-group">
                @Html.LabelFor(model => model.correctionID, "correctionID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("correctionID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.correctionID, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @*@Html.LabelFor(model => model.inspection.SingleOrDefault().ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.inspection.SingleOrDefault().ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model =>model.inspection.SingleOrDefault().ID, "", new { @class = "text-danger" })
            </div>*@
        @*</div>

            <div class="form-group">*@
        @*commented code*@


        
            @*<table id="inspTable" class="table-bordered" style="width:100%;">
                <tr>
                    <th>
                        <h4>Areas/Equipment</h4>
                    </th>
                    <th>
                        <h4>Hazards Observed - Details</h4>
                    </th>
                    <th>
                        <h4>Fault</h4>
                    </th>
                    <th>
                        <h4>Comments</h4>
                    </th>

                </tr>
                    <tr id="cloneSection">
                        <td>
                            @Html.LabelFor(model => model.InspectionDetailID, "Area/Equipment", htmlAttributes: new { @class = "control-label2" })

                            @Html.EditorFor(model => model.AreaEquipment)
                            @Html.ValidationMessageFor(model => model.AreaEquipment, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.HazardID, "Hazard", htmlAttributes: new { @class = "" })

                            @Html.DropDownList("hazardID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HazardID, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <div class="checkbox">
                                @Html.EditorFor(model => model.statusHO)
                                @Html.ValidationMessageFor(model => model.statusHO, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Comments)
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>*@
        
        @*<div class="row">*@
            @*<div class="col-md-offset-2 col-md-4">
                <input type="button" id="AddInsDetail" value="Add Area/Equipment" class="btn btn-default" />
            </div>*@
        @*</div>*@
        <div class="row">
            <!-- ko if:allInfo -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Header</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table" data-bind="foreach: allInfo">
                             <tr class="list-unstyled">
                                 <td><strong>Inspection:</strong></td><td><span data-bind="text: Id"></span></td>
                                 <td><strong>Date:</strong></td><td><span data-bind="text: date"></span></td>
                            </tr>
                            <tr>
                                <td><strong>Lab:</strong></td>
                                <td><span data-bind="text: labDesc"></span></td>
                                <td><strong>Inspector:</strong></td>
                                <td><span data-bind="text: username"></span><td>
                                @*<td><small><a href="#" data-bind="click: $parent.getInspectionDetails">Details</a></small></td>*@
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
            </div>
            <!-- /ko -->
            <!-- ko if:areas -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Area/Equipment</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table" data-bind="foreach: areas">
                            <tr class="list-unstyled">
                                <td><b>Inspection Line #</b></td><td data-bind="text: Inspectionid"></td>
                            </tr>
                            <tr>
                                <td><b>Area/Equipment</b></td>
                                <td data-bind="text: AreaEquip"></td>
                                @*<td><a href="#" data-bind="click: $parent.getHazardsObserved">View Hazards</a></td>*@
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if:hazobs -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Hazards Observed</h2>
                    </div>
                    <table class="table" data-bind="foreach: hazObsSec">
                        <tr class="list-unstyled" >
                            <td><b>Hazard</b></td><td data-bind="text: Id"></td>
                            <td><b>Comments</b></td><td data-bind="text: HazardDesc"></td>
                            <td><b>Comments</b></td><td data-bind="text: Comm"></td>
                    </table>
                </div>
            </div>
           
            <!-- /ko -->

        @*</div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@


        <div class="col-md-4" id="addInspectionDiv">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Enter Header Information</h2>
                </div>

                <div class="panel-body">

                    <form class="form-horizontal" data-bind="submit: addInspection">
                        <div class="form-group">
                            <label for="inputLabs" class="col-sm-2 control-label">Labs</label>
                            <div class="col-sm-10">
                                <select data-bind="options:labs, optionsText: 'room', value: newInspection.Lab"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputUser" class="col-sm-2 control-label">User</label>
                            <div class="col-sm-10">
                                <select data-bind="options:users, optionsText: 'firstName', value: newInspection.User"></select>

                            </div>
                        </div>

                        <div class="form-group" data-bind="with: newInspection">
                            <label for="inputDate" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDate" data-bind="value:Date" />
                            </div>
                        </div>
                        <button id="submitIns" type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>


            <div class="col-md-4" id="addInspectionDetDiv">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Enter Area or Equipment</h2>
                    </div>

                    <div class="panel-body">

                        <form class="form-horizontal" data-bind="submit: addInspectionDetail">
                            <div class="form-group" data-bind="with: newInspectionDet">
                                <label for="inputAreaEquip" class="col-sm-4 control-label">Area/Equipment</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAreaEquip" data-bind="value:AreaEquip" />
                                </div>
                            </div>
                            <button id="submitInsDet" type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="addHazardsObsDiv">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Enter Hazard Observed</h2>
                    </div>

                    <div class="panel-body">

                        <form class="form-horizontal" data-bind="submit: addHazardObserved">
                            <div class="form-group">
                                <label for="inputLabs" class="col-sm-2 control-label">Hazard</label>
                                <div class="col-sm-10">
                                    <select data-bind="options:hazards, optionsText: 'Description', value: newHazardObs.Hazard"></select>
                                </div>
                            </div>

                            <div class="form-group" data-bind="with: newHazardObs">
                                <label for="inputComm" class="col-sm-4 control-label">Comments</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputComm" data-bind="value:Comments" />
                                </div>
                            </div>
                            <button id="submitHazObs" type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

    </div>
        </div>


@* } *@



        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app")
    <script>
        $(document).ready(function () {
            $("#addInspectionDetDiv").hide();
            $("#addHazardsObsDiv").hide();
            $("#AddInsDetail").click(function () {
                //alert("test");
                //var index = // assign a unique value
                var clone = $('#cloneSection').clone();
                // Update the index of the clone
                //clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
                //clone.html($(clone).html().replace(/"%"/g, '"' + index  + '"'));
                $("#inspTable").append(clone);
                @*$("#cloneSection").append('@Html.LabelFor(model => model.inspection.SingleOrDefault().date, htmlAttributes: new { @class = "control-label col-md-2" })');
        $("#cloneSection").append('@Html.EditorFor(model => model.inspection.SingleOrDefault().date, new { htmlAttributes = new { @class = "form-control" } })');*@
            });
            $("#submitIns").click(function () {
                $("#addInspectionDiv").hide();
                $("#addInspectionDetDiv").show();
            });
            $("#submitInsDet").click(function () {
                $("#addInspectionDetDiv").hide();
                $("#addHazardsObsDiv").show();
            });
            $("#submitHazObs").click(function () {
                //$("#addInspectionDiv").hide();
                //$("#addInspectionDetDiv").show();
            });
        });
    </script>
}
