<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - Niagara College</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav" style="z-index: -1000">
                <li>
                    <img src="~/Images/ncc-logo-transparent.png" class="sidebar-brand img-responsive navimg" />
                </li>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                @if (1 == 1)
                {
                    <li>
                        @Html.ActionLink("Search", "Index", "Search")
                    </li>
                    <li>
                        @Html.ActionLink("Inspection", "Index", "INSPECTIONs")
                    </li>
                    <li>
                        @Html.ActionLink("Report an Issue", "Index", "INSPECTIONDETAILS")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Labs", "Index", "Labs")</li>
                            <li>@Html.ActionLink("Hazards", "Index", "Hazards")</li>
                            <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        </ul>
                    </li>
                }              
                <li>
                    <a href="http://www.niagaracollege.ca/visit/contact-us/">Contact</a>
                </li>
                <li>
                    <a href="http://www.niagaracollege.ca">Niagara College</a>
                </li>
            </ul>

        </nav>

        <!-- /#sidebar-wrapper -->
        <nav class="navbar navbar-inverse" style="z-index:1; border-radius:0px;">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="offcanvas"><span class="glyphicon glyphicon-th"></span>Menu</a></li>
                    @{
                        if (@ViewBag.Title.ToString() != "Welcome!")
                        {
                            <li><a href="javascript:void(0);" onclick="history.go(-1);"><span class="glyphicon glyphicon-circle-arrow-left"></span></a></li>
                        }
                    }
                    <li><a>@ViewBag.Title</a></li>
                </ul>
               
                    
                
                <ul class="nav navbar-nav navbar-right">
                    
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="#" id="btnModal"><span class="glyphicon glyphicon-user"></span> @HttpContext.Current.Session["UserName"]</a></li>
                        <li>@Html.ActionLink("Inbox", "Inbox", "Home")</li>
                        <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                        <li>@Html.ActionLink("Contacts", "Contacts", "Home")</li>
                        <li>@Html.ActionLink("Sign Out", "SignOut", "Home")</li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("SignIn", "Home")"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                    }
                </ul>
            </div>
        </nav>


        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container" style="width:1200px">
                @RenderBody()
                <div class="row">

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <span class="close">&times;</span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="~/Images/user.png" alt="User Picture" class="modalimg img-responsive" />
                                        <h3>@HttpContext.Current.Session["UserName"]</h3>
                                        <p>@HttpContext.Current.Session["UserPhone"]</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Enrolled Labs</h4>
                                        <ul>
                                            <li>Lab 1</li>
                                            <li>Lab 2</li>
                                            <li>Lab 3</li>
                                        </ul>
                                        <br />
                                        <h4>Email</h4>
                                        <p>@HttpContext.Current.Session["UserEmail"]</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        @*Alerts or mail maybe??*@
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                @Html.ActionLink("Sign Out", "SignOut", "Home")
                            </div>
                        </div>

                    </div>

                    <div id="fontSizeChange">
                        <button class="fontButton btn btn-toolbar" id="linkIncrease"><span class="glyphicon glyphicon-plus"></span></button>
                        <button class="fontButton btn btn-toolbar" id="linkDecrease"><span class="glyphicon glyphicon-minus"></span></button>
                        <button class="fontButton btn btn-toolbar" id="linkReset"><span class="glyphicon glyphicon-repeat"></span></button>
                    </div>

                    <hr />
                    <footer>
                        <div class="row">
                            <div class="col-sm-6"><img src="~/Images/logo_done_black.png" style="height:50px; width:190px;"/></div>
                            <div class="col-sm-6 text-right">Niagara College Canada - &copy; @DateTime.Now.Year</div>
                            
                        </div>
                    </footer>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/navigation")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/fontsize")
    
    @RenderSection("scripts", required: false)

</body>
</html>
