@model TeamI.Models.HAZARDOBSERVED

@{
    ViewBag.Title = "Details";
}
<div>
  
    <dl class="dl-horizontal">
        <dt>
           Inspector
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.INSPECTION.USER.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.INSPECTIONDETAILS.INSPECTION.LAB.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.INSPECTION.LAB.room)
        </dd>
        <dt>
           Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.AreaEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HAZARD.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HAZARD.Description)
        </dd>
        <dt>
            Problem Found
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problemFound)
        </dd>
        <dt>
            Action(s) Required
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actionRequired)
        </dd>
        <dt>
            Urgency
        </dt>
        <dd>
            @Html.DisplayFor(model => model.urgentAction)
        </dd>
       
    

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
   

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
  
</p>
