@model TeamI.Models.HAZARDOBSERVED

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label>Inspector:</label>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.INSPECTION.USER.FullName)
        </div>
        <div class="col-sm-6">
            <label>Room:</label>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.INSPECTION.LAB.room)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Date:</label>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.INSPECTION.date)
        </div>
        <div class="col-sm-4">
            <label>Area:</label>
            @Html.DisplayFor(model => model.INSPECTIONDETAILS.AreaEquipment)
        </div>
        <div class="col-sm-4">
            <label>Action(s) required:</label>
            @Html.DisplayFor(model => model.actionRequired)

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Problem found:</label>
            @Html.DisplayFor(model => model.problemFound)
        </div>
        <div class="col-sm-4">
            <label>Description:</label>
            @Html.DisplayFor(model => model.HAZARD.Description)
        </div>
        <div class="col-sm-4">
            <label>Fixed:</label>
            @Html.DisplayFor(model => model.Status)
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4" style="text-align:left">
            <a href="@Url.Action("Edit", "HAZARDOBSERVEDs", new { id = Model.ID })" class="btn btn-success">
                Edit
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </a>
            </div>

            <div class="col-sm-4 col-sm-offset-4" style="text-align:right">
                <a href="@Url.Action("index", "INSPECTIONs", "INSPECTIONs", null)" class="btn btn-danger">
                    Cancel
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                </a>

            </div>
        </div>

</div>
