@model IEnumerable<TeamI.Models.HAZARDOBSERVED>

@{
    ViewBag.Title = "Corrective Problems";
}


<a href="@Url.Action("Create", "HAZARDOBSERVEDs")" class="btn btn-danger">
    Report a problem
    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.problemFound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSPECTIONDETAILS.AreaEquipment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAZARD.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.problemFound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSPECTIONDETAILS.AreaEquipment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HAZARD.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
        
        </td>
    </tr>
}
</table>
